

@charset "utf-8";

html, body { height: 100%;}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2em;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
  }

.image {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/faceless_poppies.jpeg');
    background-size: cover;
  }
  .image:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.5);
    background-image: radial-gradient(black 33%, transparent 33%);
    background-size: 2px 2px;
  }

  .image .name {
    font-size: 50px;
    color: white;
    padding-left: 10px;
    text-align: left;
  }
