@charset "utf-8";

html, body { height: 100%;}

/* Reset basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2em;
}

* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    position: relative;
    background: url('../images/faceless_poppies.jpeg') center/cover no-repeat;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.5);
    background-image: radial-gradient(black 33%, transparent 33%);
    background-size: 2px 2px;
} 

.name {
    font-size: 50px;
    color: white;
    text-align: left;
    opacity: calc(60%);
  }

.name a {
  color: inherit;
  text-decoration: none;
}

/* Navbar styles */
nav {
  padding-top: 5px;
  padding-left: 15px;
  position: relative;
  z-index: 99;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: medium;
  display: flex;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  font-weight: bold;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li {
  color: #fff;
  text-decoration: none;
  opacity: calc(60%);
  padding: 10px;
}

nav ul li:hover {
  text-decoration: none;
  color: #dddddde7;
  opacity: 1;
  background-color: #55555563;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #55555563;
  min-width: 154px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  margin-left:-10px;
  font-size: small;
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.66) !important;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #dddddde7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  padding: 10px;
}

.dropbtn:hover {
  color: #fff;
  opacity: 1;
  background-color: #55555563;
}


/* Footer styles */
footer {
  background-color: rgba(173, 173, 173, 0.954); 
  background-image: radial-gradient(black 33%, transparent 33%);
  background-size: 2px 2px;
  position: relative;
  z-index: 1;
}

.footer {
  position: fixed;
  height: 45px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  color:#292929;
  opacity:calc(70%);
  font-size: 12px;
}

.footer .right {
  display: flex;
  align-items: center;
}

.footer .right a {
  margin-left: 5px;
  text-decoration: none;
  opacity: calc(60%);
}

.footer .right img {
  width: auto; 
  height: 30px;
  margin-top: 5px;
}

.footer .right a:hover {
  width: auto; 
  height: 32px;
  opacity: 1;
}

/* Reports */
.container {
  background-color: #ffffffcf;
  width:90%;
  height: calc(100vh - 200px);
  position: fixed;
  display: block;
  right: 0;
  bottom: 70px;
  margin: 20px 20px 0px 0px;
  overflow-y: scroll;
  z-index: 1;
  border: 1px solid #454545;
}

.container p {
    font-size: 15px !important;
    margin-top: 5px;
}

.container ul li {
    font-size: 15px !important;  
}

/* Authors */
.ppl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px 12px;
}

.author a {
  text-decoration: none;
}

.author img {
  width: 75px; 
  height: 75px;
  border-radius: 50%; 
  margin-top: 5px;
}

.author span {
  margin-top: 10px;
}

.author span a {
  text-decoration: none !important;
  color: inherit;
  font-weight: 600;
}

.popup {
  display: none;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the popup */
/*   width: 70%; */ /* Set desired width */ 
  max-width: 600px; /* Set maximum width */
  height: auto; /* Automatically adjust height based on content */
  max-height: 80%; /* Set maximum height */
    @include media-query(440px) {
      width: 80%;
    }
}

.popup:target {
  display: flex;
}

.popup-content {
  background-color: #b2bfc2;
  padding: 30px 20px 20px 20px;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

.popup-content .profile-info {
  display: flex;
  align-items: center; 
  flex-direction: column;
}

.popup-content img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
    @include media-query(440px) {
      width: 150px;
      height: 150px;
    }
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-left: 20px; 
  margin-bottom: 5px;
  color: inherit;
}

.social-links p {
  font-size: 15.5px;
  padding: 10px;
  margin-bottom: 10px;
}

.social-links span {
  font-size: 15px;
  margin-top: 5px;
  padding-left: 10px;
}

.social-links a {
  margin-bottom: 10px;
  color: inherit;
  text-decoration: none;
  padding: 5px;
}

.social-links a:hover {
  font-size: 15.5px;
  font-weight: 600;
}

.close-popup {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: inherit;
  padding: 5px;
  cursor: pointer; 
}

.close-popup:hover {
  font-weight: 600;
  font-size: 15.5px;
  color: inherit !important;
}
