

@charset "utf-8";

html, body { height: 100%;}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    line-height: 1.2em;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    position: relative;
    background: url('../images/faceless_poppies.jpeg') center/cover no-repeat; /* Set background image */
}

  body:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.5);
    background-image: radial-gradient(black 33%, transparent 33%);
    background-size: 2px 2px;
}

 .name {
    font-size: 50px;
    color: white;
    text-align: left;
  }


/* Navbar styles */
nav {
  padding: 10px 0;
  padding-left: 10px;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: medium;
  display: flex;
}

nav ul li {
  display: inline;
  margin-right: 20px; 
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

 .footer {
    position: fixed;
    min-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
}
